# compiled binaries
/bin/
*.exe

# go
vendor/

.env
*.env
*.pem
*.key

# os noise
.DS_Storeplatform/cosign/cosign.key

# terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/kubeconfig*.yaml

# terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/kubeconfig*.yaml
